{{ header }}

<div id="breadcrumb">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="main" class="uk-section">
<div class="uk-container">

  {{ content_top }}

  {% if column_left or column_right %}<div class="uk-grid" uk-grid>{% endif %}

  {% if column_left %}
  <div class="uk-width-medium@m">
    {{ column_left }}
  </div>
  {% endif %}

  {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}

    <div id="content">

      <h1>{{ heading_title }}</h1>

      <p>{{ text_total }} <b>{{ total }}</b>.</p>

      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-small uk-table-middle">
          <thead>
            <tr>
              <th class="uk-text-left">{{ column_date_added }}</th>
              <th class="uk-text-left">{{ column_description }}</th>
              <th class="uk-text-right">{{ column_points }}</th>
            </tr>
          </thead>
          <tbody>
          
          {% if rewards %}
          {% for reward in rewards %}
          <tr>
            <td class="uk-text-left">{{ reward.date_added }}</td>
            <td class="uk-text-left">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %}
              {{ reward.description }}
              {% endif %}</td>
            <td class="uk-text-right">{{ reward.points }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="uk-text-center" colspan="3">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="uk-flex uk-flex-between">
        <div>{{ pagination }}</div>
        <div class="uk-text-muted uk-text-small">{{ results }}</div>
      </div>
      <div class="buttons uk-margin-top uk-text-right">
        <a href="{{ continue }}" class="uk-button uk-button-primary">{{ button_continue }}</a>
      </div>
    </div>

  {% if column_left or column_right %}</div>{% endif %}

  {% if column_right %}
  <div class="uk-width-auto@m">
    {{ column_right }}
  </div>
  {% endif %}

  <!-- grid end -->
  {% if column_left or column_right %}</div>{% endif %}

  {{ content_bottom }}

</div>    
</div>
{{ footer }}