{{ header }}

<div id="breadcrumb">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if success %}
<div class="uk-alert uk-alert-success uk-margin-remove">
  <div class="uk-container">
    <span uk-icon="icon: check"></span>
    {{ success }}
  </div>
</div>
{% endif %}

{% if error_warning %}
<div class="uk-alert uk-alert-danger uk-margin-remove">
  <div class="uk-container">
    <span uk-icon="icon: close"></span>
    {{ error_warning }}
  </div>
</div>
{% endif %}

<div id="affiliate-login" class="uk-section">
  <div class="uk-container">

    {{ content_top }}

    {% if column_left or column_right %}<div class="uk-grid" uk-grid>{% endif %}

    {% if column_left %}
    <div class="uk-width-medium@m uk-visible@l">
      {{ column_left }}
    </div>
    {% endif %}

    {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}

      <div id="main">

        <h1>{{ heading_title }}</h1>
        {{ text_description }}

        <div class="tm-panel uk-padding">
          <div class="uk-grid uk-grid-divider uk-child-width-expand@m" uk-grid>

            <div>
              <div>
                <h2 class="uk-margin-small">{{ text_new_affiliate }}</h2>
                <div>{{ text_register_account }}</div>
                <a class="uk-button uk-button-primary" href="{{ register }}">
                  {{ button_continue }}
                </a>
              </div>
            </div>

            <div>
              <div>
                <h2 class="uk-margin-small">{{ text_returning_affiliate }}</h2>
                <div><p>{{ text_i_am_returning_affiliate }}</p></div>

                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                  <div class="uk-margin-small">
                    <label class="uk-form-label">{{ entry_email }}</label>
                    <input class="uk-input" type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" />
                  </div>
                  <div class="uk-margin-small">
                    <label class="uk-form-label">{{ entry_password }}</label>
                    <input class="uk-input"type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" />
                  </div>
                  <div class="uk-margin-small">
                    <a href="{{ forgotten }}">{{ text_forgotten }}</a> 
                  </div>
                  <input type="submit" value="{{ button_login }}" class="uk-button uk-button-primary uk-margin-small-top" />
                  {% if redirect %}
                    <input type="hidden" name="redirect" value="{{ redirect }}" />
                  {% endif %}
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>

    {% if column_left or column_right %}</div>{% endif %}

    {% if column_right %}
    <div class="uk-width-medium@m uk-visible@l">
      {{ column_right }}
    </div>
    {% endif %}

    <!-- grid end -->
    {% if column_left or column_right %}</div>{% endif %}

    {{ content_bottom }}

  </div>
</div>

{{ footer }}