{{ header }}

<div id="breadcrumb">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if error_warning %}
<div class="uk-alert uk-alert-danger uk-margin-remove">
  <div class="uk-container">
    <span uk-icon="icon: warning"></span>
    {{ error_warning }}
  </div>
</div>
{% endif %}

<div id="affiliate-register" class="uk-section">
<div class="uk-container">

  {{ content_top }}

  {% if column_left or column_right %}<div class="uk-grid uk-grid-divider" uk-grid>{% endif %}

  {% if column_left %}
  <div class="uk-width-medium@m uk-visible@l">
    {{ column_left }}
  </div>
  {% endif %}

  {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}
  
    <div id="main">

      <h1>{{ heading_title }}</h1>
      <p>{{ text_account_already }}</p>
      <p>{{ text_signup }}</p>

      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="uk-form-stacked">
        <div id="account" class="tm-panel uk-padding">
          <h3>{{ text_your_details }}</h3>
          <div class="form-group required uk-grid{% if customer_groups|length < 2 %} uk-hidden{% endif %}">
            <label class="uk-form-label control-label uk-width-1-3@m">{{ entry_customer_group }}</label>
            <div class="uk-width-expand@m">{% for customer_group in customer_groups %}
              {% if customer_group.customer_group_id == customer_group_id %}
              <div class="radio uk-inline uk-margin-small-right">
                <label>
                  <input type="radio" class="uk-radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
                  {{ customer_group.name }}</label>
              </div>
              {% else %}
              <div class="radio uk-inline uk-margin-small-right">
                <label>
                  <input type="radio" class="uk-radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                  {{ customer_group.name }}</label>
              </div>
              {% endif %}
              {% endfor %}</div>
          </div>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-firstname">{{ entry_firstname }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="uk-input" />
              {% if error_firstname %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_firstname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-lastname">{{ entry_lastname }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="uk-input" />
              {% if error_lastname %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_lastname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-email">{{ entry_email }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="uk-input" />
              {% if error_email %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_email }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-telephone">{{ entry_telephone }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="uk-input" />
              {% if error_telephone %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_telephone }}</div>
              {% endif %} </div>
          </div>
          {% for custom_field in custom_fields %}
          {% if custom_field.location == 'account' %}
          {% if custom_field.type == 'select' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-select">
                <option value="">{{ text_select }}</option>
                
                
                
                
                
                
                {% for custom_field_value in custom_field.custom_field_value %}
                {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                
                
                
                
                
                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                
                
                
                
                
                
                {% else %}
                
                
                
                
                
                
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                
                
                
                
                
                
                {% endif %}
                {% endfor %}
              
              
              
              
              
              
              </select>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'radio' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <div> {% for custom_field_value in custom_field.custom_field_value %}
                <div class="radio uk-margin-small"> {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                  <label>
                    <input type="radio" class="uk-radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                    {{ custom_field_value.name }}</label>
                  {% else %}
                  <label>
                    <input type="radio" class="uk-radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                    {{ custom_field_value.name }}</label>
                  {% endif %} </div>
                {% endfor %} </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'checkbox' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <div> {% for custom_field_value in custom_field.custom_field_value %}
                <div class="checkbox">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                  <label>
                    <input type="checkbox" class="uk-checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                    {{ custom_field_value.name }}</label>
                  {% else %}
                  <label>
                    <input type="checkbox" class="uk-checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                    {{ custom_field_value.name }}</label>
                  {% endif %} </div>
                {% endfor %} </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'text' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'textarea' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'file' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}</div>
          </div>
          {% endif %}
          {% if custom_field.type == 'date' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <div class="input-group date uk-position-relative">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input datePicker" />
                <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: calendar"></span>
              </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'time' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <div class="input-group time uk-position-relative">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input timePicker" />
                <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: clock"></span>
              </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'datetime' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="uk-width-expand@m">
              <div class="input-group datetime uk-position-relative">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input dateTimePicker" />
                <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: calendar"></span>
              </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        <div id="affiliate" class="tm-panel uk-padding uk-margin">
          <legend>{{ text_your_affiliate }}</legend>
          <div class="form-group uk-grid">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-company">{{ entry_company }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="uk-input" />
            </div>
          </div>       
          
          <div class="form-group uk-grid">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-website">{{ entry_website }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="website" value="{{ website }}" placeholder="{{ entry_website }}" id="input-website" class="uk-input" />
            </div>
          </div>
          <div class="form-group uk-grid">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-tax">{{ entry_tax }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="tax" value="{{ tax }}" placeholder="{{ entry_tax }}" id="input-tax" class="uk-input" />
            </div>
          </div>
          <div class="form-group uk-grid">
            <label class="uk-form-label control-label uk-width-1-3@m">{{ entry_payment }}</label>
            <div class="uk-width-expand@m">
              <div class="radio uk-margin-small">
                <label> {% if payment == 'cheque' or payment == '' %}
                  <input type="radio" class="uk-radio" name="payment" value="cheque" checked="checked" />
                  {% else %}
                  <input type="radio" class="uk-radio" name="payment" value="cheque" />
                  {% endif %}
                  {{ text_cheque }}</label>
              </div>
              <div class="radio uk-margin-small">
                <label> {% if payment == 'paypal' %}
                  <input type="radio" class="uk-radio" name="payment" value="paypal" checked="checked" />
                  {% else %}
                  <input type="radio" class="uk-radio" name="payment" value="paypal" />
                  {% endif %}
                  {{ text_paypal }}</label>
              </div>
              <div class="radio uk-margin-small">
                <label> {% if payment == 'bank' %}
                  <input type="radio" class="uk-radio" name="payment" value="bank" checked="checked" />
                  {% else %}
                  <input type="radio" class="uk-radio" name="payment" value="bank" />
                  {% endif %}
                  {{ text_bank }}</label>
              </div>
            </div>
          </div>
          <div class="form-group uk-grid payment required" id="payment-cheque">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-cheque">{{ entry_cheque }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" id="input-cheque" class="uk-input" />
              {% if error_cheque %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_cheque }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group uk-grid payment required" id="payment-paypal">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-paypal">{{ entry_paypal }}</label>
            <div class="uk-width-expand@m">
              <input type="text" name="paypal" value="{{ paypal }}" placeholder="{{ entry_paypal }}" id="input-paypal" class="uk-input" />
              {% if error_paypal %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_paypal }}</div>
              {% endif %} </div>
          </div>
          <div class="payment uk-margin" id="payment-bank">
            <div class="form-group uk-grid">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-bank-name">{{ entry_bank_name }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="uk-input" />
              </div>
            </div>
            <div class="form-group uk-grid">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-bank-branch-number">{{ entry_bank_branch_number }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="uk-input" />
              </div>
            </div>
            <div class="form-group uk-grid">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-bank-swift-code">{{ entry_bank_swift_code }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="uk-input" />
              </div>
            </div>
            <div class="form-group uk-grid required">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-bank-account-name">{{ entry_bank_account_name }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="uk-input" />
                {% if error_bank_account_name %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_bank_account_name }}</div>
                {% endif %} </div>
            </div>
            <div class="form-group uk-grid required">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-bank-account-number">{{ entry_bank_account_number }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="uk-input" />
                {% if error_bank_account_number %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_bank_account_number }}</div>
                {% endif %} </div>
            </div>
            {% for custom_field in custom_fields %}
            {% if custom_field.location == 'affiliate' %}
            {% if custom_field.type == 'select' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-select">
                  <option value="">{{ text_select }}</option>
                  
                
                
                
                
                
                
                {% for custom_field_value in custom_field.custom_field_value %}
                {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                
                
                
                
                
                  <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                  
                
                
                
                
                
                
                {% else %}
                
                
                
                
                
                
                
                  <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                  
                
                
                
                
                
                
                {% endif %}
                {% endfor %}
              
              
              
              
              
              
              
                </select>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'radio' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <div> {% for custom_field_value in custom_field.custom_field_value %}
                  <div class="radio"> {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                    <label>
                      <input type="radio" class="uk-radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                      {{ custom_field_value.name }}</label>
                    {% else %}
                    <label>
                      <input type="radio" class="uk-radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                      {{ custom_field_value.name }}</label>
                    {% endif %} </div>
                  {% endfor %} </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'checkbox' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <div> {% for custom_field_value in custom_field.custom_field_value %}
                  <div class="checkbox"> {% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                    <label>
                      <input type="checkbox" class="uk-checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                      {{ custom_field_value.name }}</label>
                    {% else %}
                    <label>
                      <input type="checkbox" class="uk-checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                      {{ custom_field_value.name }}</label>
                    {% endif %} </div>
                  {% endfor %} </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'text' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input" />
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'textarea' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'file' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}" />
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'date' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <div class="input-group date uk-position-relative">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input datePicker" />
                  <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: calendar"></span>
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <div class="input-group time uk-position-relative">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input timePicker" />
                  <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: calendar"></span>
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group uk-grid custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="uk-form-label control-label uk-width-1-3@m" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="uk-width-expand@m">
                <div class="input-group datetime uk-position-relative">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="uk-input dateTimePicker" />
                  <span class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: calendar"></span>
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger uk-text-danger uk-text-small">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %} </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %} </div>
        </div>
        <div class="tm-panel uk-padding uk-margin">
          <legend>{{ text_your_password }}</legend>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-password">{{ entry_password }}</label>
            <div class="uk-width-expand@m">
              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="uk-input" />
              {% if error_password %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_password }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group uk-grid required">
            <label class="uk-form-label control-label uk-width-1-3@m" for="input-confirm">{{ entry_confirm }}</label>
            <div class="uk-width-expand@m">
              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="uk-input" />
              {% if error_confirm %}
              <div class="text-danger uk-text-danger uk-text-small">{{ error_confirm }}</div>
              {% endif %} </div>
          </div>
        </div>

        {% if captcha %}
        <div class="tm-panel uk-padding">
          {{ captcha }}
        </div>
        {% endif %}
        
        {% if text_agree %}
        <hr /> 
        <div class="buttons clearfix uk-margin uk-text-right">
          {{ text_agree }}
          {% if agree %}
          <input type="checkbox" class="uk-checkbox" name="agree" value="1" checked="checked" />
          {% else %}
          <input type="checkbox" class="uk-checkbox" name="agree" value="1" />
          {% endif %}
          <div class="uk-margin-top uk-text-right">
            <input type="submit" value="{{ button_continue }}" class="uk-button uk-button-primary" />
          </div>
        </div>
        {% else %}
        <div class="buttons clearfix uk-margin-top uk-text-right">
          <input type="submit" value="{{ button_continue }}" class="uk-button uk-button-primary" />
        </div>
        {% endif %}
      </form>
      
    </div>

  {% if column_left or column_right %}</div>{% endif %}

  {% if column_right %}
  <div class="uk-width-medium@m uk-visible@l">
    {{ column_right }}
  </div>
  {% endif %}

  <!-- grid end -->
  {% if column_left or column_right %}</div>{% endif %}

  {{ content_bottom }}

</div><!-- container end -->
</div>

<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group uk-grid[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group uk-grid').length) {
		$('#account .form-group uk-grid').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group uk-grid').length) {
		$('#account .form-group uk-grid:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group uk-grid').length) {
		$('#account .form-group uk-grid:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group uk-grid').length) {
		$('#account .form-group uk-grid:first').before(this);
	}
});

$('#affiliate .form-group uk-grid[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#affiliate .form-group uk-grid').length) {
		$('#affiliate .form-group uk-grid').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#affiliate .form-group uk-grid').length) {
		$('#affiliate .form-group uk-grid:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#affiliate .form-group uk-grid').length) {
		$('#affiliate .form-group uk-grid:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#affiliate .form-group uk-grid').length) {
		$('#affiliate .form-group uk-grid:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger uk-text-danger uk-text-small').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger uk-text-danger uk-text-small">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 

//--></script>
<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
	$('.payment').hide();

	$('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script> 

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dateFields = document.querySelectorAll('.date > input');
    var timeFields = document.querySelectorAll('.time > input');
    var dateTimeFields = document.querySelectorAll('.datetime > input');

    // set locale
    // flatpickr.localize(flatpickr.l10ns.{$locale});

    if(dateFields) {
      dateFields.forEach(e => {
        e.flatpickr({
          dateFormat: 'd-m-Y',
          altFormat: 'd-m-Y',
          minDate: 'today',
          // enableTime: true,
        });
      });
    }

    if(timeFields) {
      timeFields.forEach(e => {
        e.flatpickr({
          enableTime: true,
          noCalendar: true,
          dateFormat: 'H:i',
          time_24hr: true
        });
      });
    }

    if(dateTimeFields) {
      dateTimeFields.forEach(e => {
        e.flatpickr({
          dateFormat: 'd-m-Y H:i',
          minDate: 'today',
          enableTime: true,
          time_24hr: true
        });
      });
    }

  });
</script>
{{ footer }} 