{% for option in options %}
<div class="uk-margin-small uk-form-stacked">

  <!-- Select -->
  {% if option.type == 'select' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <select class="uk-select" name="option[{{ option.product_option_id }}]" {% if option.required %} required {% endif %}>
      <option value="">{{ text_select }}</option>
      {% for option_value in option.product_option_value %}
        <option value="{{ option_value.product_option_value_id }}" data-option-price="{{ option_value.price }}">
          {{ option_value.name }}
          {% if option_value.price %}
          ({{ option_value.price_prefix }}{{ option_value.price }})
          {% endif %} 
        </option>
      {% endfor %}
    </select>
  {% endif %}

  <!-- radio -->
  {% if option.type == 'radio' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <ul class="uk-list uk-list-collapse uk-margin-remove">
      {% for option_value in option.product_option_value %}
        <li>
          <label>
            <input 
              class="uk-radio" 
              type="radio" 
              name="option[{{ option.product_option_id }}]" 
              value="{{ option_value.product_option_value_id }}" 
              data-option-price="{{ option_value.price }}"
            />
            {% if option_value.image %} 
              <img 
                src="{{ option_value.image }}" 
                alt="{{ option_value.name }} 
                {% if option_value.price %}
                  {{ option_value.price_prefix }}
                  {{ option_value.price }} 
                {% endif %}" 
              /> 
            {% endif %}                  
            {{ option_value.name }}
            {% if option_value.price %}
              ({{ option_value.price_prefix }}{{ option_value.price }})
            {% endif %} 
          </label>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- checkbox -->
  {% if option.type == 'checkbox' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <ul class="uk-list uk-list-collapse uk-margin-remove">
      {% for option_value in option.product_option_value %}
        <li>
          <label>
            <input 
              class="uk-checkbox" 
              type="checkbox" 
              name="option[{{ option.product_option_id }}]" 
              value="{{ option_value.product_option_value_id }}" 
              data-option-price="{{ option_value.price }}"
            />
            {% if option_value.image %} 
              <img 
                src="{{ option_value.image }}" 
                alt="{{ option_value.name }} 
                {% if option_value.price %}
                  {{ option_value.price_prefix }}
                  {{ option_value.price }} 
                {% endif %}" 
              /> 
            {% endif %}                  
            {{ option_value.name }}
            {% if option_value.price %}
              ({{ option_value.price_prefix }}{{ option_value.price }})
            {% endif %} 
          </label>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- text -->
  {% if option.type == 'text' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <input 
      class="uk-input" 
      type="text" 
      name="option[{{ option.product_option_id }}]" 
      value="{{ option.value }}" 
      placeholder="{{ option.name }}" 
      {% if option.required %} required {% endif %}
    />
  {% endif %}

  <!-- textarea -->
  {% if option.type == 'textarea' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <textarea 
      class="uk-textarea" 
      name="option[{{ option.product_option_id }}]" 
      rows="3" 
      placeholder="{{ option.name }}" 
      {% if option.required %} required {% endif %}
    >
      {{ option.value }}
    </textarea>
  {% endif %}

  <!-- file -->
  {% if option.type == 'file' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <div>
      <button 
        type="button" 
        id="button-upload{{ option.product_option_id }}" 
        class="uk-button uk-button-default"
      >
        <span uk-icon="icon: upload"></span> 
        {{ button_upload }}
      </button>
    </div>
    <input type="hidden" name="option[{{ option.product_option_id }}]" value="" />
  {% endif %}
  
  <!-- date -->
  {% if option.type == 'date' %}
    <label class="uk-form-label">
      {{ option.name }}
      {% if option.required %}
        <span class="uk-text-danger">*</span>
      {% endif %}
    </label>
    <div class="uk-position-relative">
      <input 
        type="text" 
        name="option[{{ option.product_option_id }}]" 
        value="{{ option.value }}" 
         
        class="uk-input datePicker" 
      />
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
    </div>
  {% endif %}

  <!-- datetime -->
  {% if option.type == 'datetime' %}
  <label class="uk-form-label">
    {{ option.name }}
    {% if option.required %}
      <span class="uk-text-danger">*</span>
    {% endif %}
  </label>
  <div class="uk-position-relative">
    <input 
      type="text" 
      name="option[{{ option.product_option_id }}]" 
      value="{{ option.value }}" 
       
      class="uk-input dateTimePicker" 
    />
    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
  </div>
  {% endif %}

  <!-- time -->
  {% if option.type == 'time' %}
  <label class="uk-form-label">
    {{ option.name }}
    {% if option.required %}
      <span class="uk-text-danger">*</span>
    {% endif %}
  </label>
  <div class="uk-position-relative">
    <input 
      type="text" 
      name="option[{{ option.product_option_id }}]" 
      value="{{ option.value }}"  
      class="uk-input timePicker" 
    />
    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock"></span>
  </div>
  {% endif %}

</div>
{% endfor %}