<div id="review-form-modal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">

    <div class="uk-modal-header uk-position-relative">
      <h3 class="uk-modal-title uk-margin-remove">{{ text_write }}</h3>
      <button class="uk-modal-close-default uk-close-large uk-position-center-right uk-margin-right" type="button" uk-close></button>
    </div>
    
    <form id="form-review" class="form-horizontal uk-form-stacked">

      <div class="uk-modal-body">

        <div class="uk-margin">
          <label class="uk-form-label">
            {{ entry_rating }}
            <span class="uk-text-danger">*</span>
          </label>
          <div>
            {{ entry_bad }}
            <input type="radio" name="rating" value="1" />
            <input type="radio" name="rating" value="2" />
            <input type="radio" name="rating" value="3" />
            <input type="radio" name="rating" value="4" />
            <input type="radio" name="rating" value="5" />
            {{ entry_good }}
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label">
            {{ entry_name }}
            <span class="uk-text-danger">*</span>
          </label>
          <input class="uk-input" type="text" name="name" value="{{ customer_name }}" required />
        </div>

        <div class="uk-margin">
          <label class="uk-form-label">
            {{ entry_review }}
            <span class="uk-text-danger">*</span>
          </label>
          <textarea class="uk-textarea" name="text" rows="5" required></textarea>
          <div class="uk-text-small uk-text-muted">{{ text_note }}</div>
        </div>

        {% if captcha %}
          {{ captcha }}
        {% endif %}
      </div>

      <div class="uk-modal-footer uk-text-right">
        <button type="button" 
          id="button-review" 
          class="uk-button uk-button-primary"
          onclick="submitReview({{ product_id }})"
        >
          {{ button_continue }}
        </button>
      </div>

    </form>

  </div>
</div>

  