{{ header }}
{{ hero }}
<div id="home" class="uk-section">
  <div class="uk-container">

    {% if column_left or column_right %}
    <div class="uk-grid" uk-grid>
    {% endif %}

      {% if column_left %}
      <div class="uk-width-medium@m">
        {{ column_left }}
      </div>
      {% endif %}

      {% if column_left or column_right %}
      <div class="uk-width-expand@m">
      {% endif %}

        <div id="main">
          {{ content_top }}
          {{ content_bottom }}
        </div>

      {% if column_left or column_right %}
      </div>
      {% endif %}

      {% if column_right %}
      <div class="uk-width-medium@m">
        {{ column_right }}
      </div>
      {% endif %}

    {% if column_left or column_right %}
    </div>
    {% endif %}

  </div>
</div>
{{ footer }}
