{% if languages|length > 1 %}
<div class="uk-inline">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">

    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />

    <button class="uk-button uk-button-link" type="button">
      {% for language in languages %}
      {% if language.code == code %}
        <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
        {{ language.name }}  
      {% endif %}
      {% endfor %}
    </button>

    <div uk-dropdown>
      <ul class="uk-nav uk-dropdown-nav">
        {% for language in languages %}
        <li>
          <a href="#" onclick="changeLanguage('{{ language.code }}')">
            <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" />
            {{ language.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </form>
</div>
{% endif %}
