{{ header }}

<div id="breadcrumb" class="uk-background-muted">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="product-compare" class="uk-section" uk-height-viewport="expand: true">
  <div class="uk-container">

    <h1 class="uk-text-center uk-margin-medium">{{ heading_title }}</h1>

    {{ content_top }}

    {% if column_left or column_right %}<div class="uk-grid" uk-grid>{% endif %}

    {% if column_left %}
    <div class="uk-width-medium@m">
      {{ column_left }}
    </div>
    {% endif %}

    {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}

    <div id="main">

      {% if products %}
      <div>
        <table class="uk-table uk-table-divider">
          <tbody>
            <tr>
              <td class="uk-width-medium">{{ text_name }}</td>
              {% for product in products %}
                <td>
                  <a href="{{ product.href }}">{{ product.name }}</a>
                </td>
              {% endfor %}
            </tr>
            <tr>
            <td>{{ text_image }}</td>
              {% for product in products %}
              <td>
                {% if product.thumb %} 
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /> 
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            <tr>
              <td>{{ text_price }}</td>
              {% for product in products %}
              <td>{% if product.price %}
                {% if not product.special %}
                  {{ product.price }}
                  {% else %} 
                  <del>{{ product.price }}</del> 
                  <div>{{ product.special }}</div>
                  {% endif %}
                {% endif %}
              </td>
              {% endfor %} 
            </tr>
            <tr>
              <td>{{ text_model }}</td>
              {% for product in products %}
              <td>{{ product.model }}</td>
              {% endfor %} 
            </tr>
            <tr>
              <td>{{ text_manufacturer }}</td>
              {% for product in products %}
              <td>{{ product.manufacturer }}</td>
              {% endfor %} 
            </tr>
            <tr>
              <td>{{ text_availability }}</td>
              {% for product in products %}
              <td>{{ product.availability }}</td>
              {% endfor %} 
            </tr>
            {% if review_status %}
            <tr>
              <td>{{ text_rating }}</td>
              {% for product in products %}
              <td class="rating"> 
                {% for i in 1..5 %}
                  {% if product.rating < i %}
                    <span uk-icon="icon: star"></span>
                  {% else %}
                    <span class="uk-text-warning" uk-icon="icon: star"></span>
                  {% endif %}
                {% endfor %}
                <div class="uk-text-small uk-text-muted">{{ product.reviews }}</div>
              </td>
              {% endfor %} 
            </tr>
            {% endif %}
            <tr>
              <td>{{ text_summary }}</td>
              {% for product in products %}
              <td class="uk-text-small">{{ product.description }}</td>
              {% endfor %} 
            </tr>
            <tr>
              <td>{{ text_weight }}</td>
              {% for product in products %}
              <td>{{ product.weight }}</td>
              {% endfor %} 
            </tr>
            <tr>
              <td>{{ text_dimension }}</td>
              {% for product in products %}
              <td>
                {{ product.length }} x {{ product.width }} x {{ product.height }}
              </td>
              {% endfor %} 
            </tr>
            {% for attribute_group in attribute_groups %}
              <tr class="uk-background-muted">
                <td class="uk-text-bold" colspan="100%">
                  {{ attribute_group.name }}
                </td>
              </tr>
              {% for key, attribute in attribute_group.attribute %}
              <tr>
                <td>{{ attribute.name }}</td>
                {% for product in products %}
                {% if product.attribute[key] %}
                <td> {{ product.attribute[key] }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            {% endfor %}
            </tbody>
            <tr>
              <td></td>
              {% for product in products %}
              <td>
                <button type="button" 
                  class="uk-icon-button" 
                  uk-icon="cart"
                  title="{{ button_cart }}" uk-tooltip
                  onclick="addToCart({{ product.product_id }}, {{ product.minimum }})">
                </button>
                <a href="{{ product.remove }}" 
                  class="uk-icon-button uk-margin-small-left" 
                  uk-icon="trash"
                  title="{{ button_remove }}" uk-tooltip>
                </a>
              </td>
              {% endfor %}
            </tr>
        </table>
      </div>
      {% else %}
        <p class="uk-text-center">{{ text_empty }}</p>
      {% endif %}
      
    </div><!-- main end -->

    {% if column_left or column_right %}</div>{% endif %}

    {% if column_right %}
    <div class="uk-width-medium@m">
      {{ column_right }}
    </div>
    {% endif %}

    <!-- grid end -->
    {% if column_left or column_right %}</div>{% endif %}

    {{ content_bottom }}

  </div>
</div>
{{ footer }} 