{{ header }}

<div id="breadcrumb" class="uk-background-muted">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if minimum > 1 %}
<div class="uk-alert uk-alert-primary uk-margin-remove">
  <div class="uk-container">
    <span uk-icon="icon: info"></span>
    {{ text_minimum }}
  </div>
</div>
{% endif %}

<div id="product-view" class="uk-section">
  <div class="uk-container">

    {{ content_top }}

    {% if column_left or column_right %}<div class="uk-grid" uk-grid>{% endif %}

    {% if column_left %}
    <div class="uk-width-medium@m">
      {{ column_left }}
    </div>
    {% endif %}

    {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}

    <!-- main start -->
    <div id="main">

      <!-- top -->
      <div class="uk-grid" uk-grid>

        <div class="uk-width-expand@m">
          <div id="product-media">
            {{ product_media }}
          </div>
        </div>

        <div class="uk-width-2-5@m">
          <div id="product-info">

            <h1 class="uk-h3 uk-margin-small">{{ heading_title }}</h1>

            {% if review_status %}
            <div class="rating uk-margin-small">
              <div>
                {% for i in 1..5 %}
                  {% if rating < i %}
                    <span uk-icon="icon: star"></span>
                  {% else %}
                    <span class="uk-text-warning" uk-icon="icon: star"></span>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="uk-text-small uk-margin-small uk-text-muted">
                {{ reviews }}
                {% if review_guest %} /  
                  <a href="#review-form-modal" uk-toggle>{{ text_write }}</a>
                {% endif %}
              </div>
            </div>
            {% endif %}

            <hr />

            <ul class="uk-list uk-list-collapse">
              {% if manufacturer %}
              <li class="uk-flex uk-flex-middle">
                {{ text_manufacturer }} 
                <a href="{{ manufacturers }}">
                  {{ manufacturer }}
                  {% if manufacturer_logo %}
                    <img src="{{ manufacturer_logo }}" alt="{{manufacturer}}" />
                  {% endif %}
                </a>
              </li>
              {% endif %}
              <li>{{ text_model }} {{ model }}</li>
              {% if reward %}
              <li>{{ text_reward }} {{ reward }}</li>
              {% endif %}
              <li>{{ text_stock }} {{ stock }}</li>
            </ul>

            <hr />

            {% if price %}
            <div id="product-price">
              {% if not special %}
                <div class="uk-h2 uk-margin-remove uk-text-bold">{{ price }}</div>
              {% else %}
                <del>{{ price }}</del>
                <div class="uk-h2 uk-margin-remove uk-text-bold">{{ price }}</div>
              {% endif %}
              {% if tax %}
                <div>
                  {{ text_tax }} {{ tax }}
                </div>
              {% endif %}
              {% if points %}
                <div>{{ text_points }} {{ points }}</div>
              {% endif %}
              {% if discounts %}
                <ul class="uk-list uk-list-collapse">
                  {% for discount in discounts %}
                    <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            {% endif %}

            <hr />

            {% if options %}
              <div id="product-options" class="uk-background-muted uk-padding-small uk-margin">
                {% if options %}
                <h4 class="uk-margin-small">{{ text_option }}</h4>
                {{ product_options }}
                {% endif %}
              </div>
            {% endif %}

            {% if recurrings %}
            <div class="uk-background-muted uk-padding-small uk-margin">
              <h4 class="uk-margin-small">
                {{ text_payment_recurring }}
                <span class="uk-text-danger">*</span>
              </h4>
              <select name="recurring_id" class="uk-select" onchange="selectRecurring({{ product_id }})">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">
                  {{ recurring.name }}
                </option>
                {% endfor %}
              </select>
              <div id="recurring-description"></div>
            </div>
            {% endif %}

            <div id="product-actions" class="uk-margin-top">

              <div class="uk-grid uk-grid-small" uk-grid>
                <div class="uk-width-auto">
                  <label class="uk-form-label uk-text-uppercase uk-margin-small-right">{{ entry_qty }}:</label>
                  <input 
                    type="text" 
                    name="quantity" 
                    value="{{ minimum }}" 
                    size="2" 
                    id="input-quantity" 
                    class="uk-input uk-form-width-xsmall" 
                  />
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                </div>

                <div class="uk-width-expand">
                  <button
                    type="button"
                    class="uk-button uk-button-primary"
                    onclick="addToCartFull({{ product_id }}, {{ minimum }})"
                  >
                    <span uk-icon="icon: cart"></span>
                    {{ button_cart }}
                  </button>
                </div>
              </div>

              <div class="uk-margin">
                <button class="uk-button uk-button-text uk-margin-right"
                  title="{{ button_wishlist }}"
                  onclick="wishlistAdd({{ product_id }})"
                >
                  <span uk-icon="heart"></span>
                  {{ button_wishlist }}
                </dutton>
                <button class="uk-button uk-button-text uk-margin-right"
                  title="{{ button_compare }}"
                  onclick="compareAdd({{ product_id }})"
                >
                  <span uk-icon="copy"></span>
                  {{ button_compare }}
                </button>
              </div>

            </div>

          </div>
        </div>

      </div><!-- top end --> 

      <!-- content -->
      <div id="product-content" class="uk-margin-medium-top">

        <ul class="uk-tab" uk-tab>
          <li class="uk-active"><a href="#">{{ tab_description }}</a></li>
          {% if attribute_groups %}
            <li><a href="#">{{ tab_attribute }}</a></li>
          {% endif %}
          {% if review_status %}
            <li><a href="#">{{ tab_review }}</a></li>
          {% endif %}
        </ul>

        <ul class="uk-switcher uk-margin">
          <li>{{ description }}</li>

          {% if attribute_groups %}
          <li>
            {{ product_attributes }}
          </li>
          {% endif %}
          
          {% if review_status %}
          <li>
            <div id="product-reviews">
              {{ product_reviews }}
            </div>
          </li>
          {% endif %}
        <ul>

      </div><!-- product content end -->

      {% if products %}
        <h2 class="uk-heading-divider uk-margin-medium-bottom uk-text-center">{{ text_related }}</h2>
        {{ product_related }}
      {% endif %}

    </div><!-- #main end -->

    {% if column_left or column_right %}</div>{% endif %}

    {% if column_right %}
    <div class="uk-width-medium@m">
      {{ column_right }}
    </div>
    {% endif %}

    <!-- grid end -->
    {% if column_left or column_right %}</div>{% endif %}

    {{ content_bottom }}


  </div><!-- container end -->
</div>

{% if review_guest %}
  {{ product_review_form }}
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dateFields = document.querySelectorAll('.datePicker');
    var timeFields = document.querySelectorAll('.timePicker');
    var dateTimeFields = document.querySelectorAll('.dateTimePicker');

    // set locale
    // flatpickr.localize(flatpickr.l10ns.{$locale});

    if(dateFields) {
      dateFields.forEach(e => {
        e.flatpickr({
          dateFormat: 'd-M-Y',
          altFormat: 'd-M-Y',
          minDate: 'today',
          // enableTime: true,
        });
      });
    }

    if(timeFields) {
      timeFields.forEach(e => {
        e.flatpickr({
          enableTime: true,
          noCalendar: true,
          dateFormat: 'H:i',
          time_24hr: true
        });
      });
    }

    if(dateTimeFields) {
      dateTimeFields.forEach(e => {
        e.flatpickr({
          dateFormat: 'd-M-Y H:i',
          minDate: 'today',
          enableTime: true,
          time_24hr: true
        });
      });
    }

  });
</script>

{{ footer }} 

