{% if reviews %}
{% set v = 0 %}
<ul class="uk-comment-list">
  {% for review in reviews %}
  {% if n > 0 %}<hr class="uk-margin" />{% endif %}
  {% set n = v + 1 %}
  <li class="uk-margin-remove">
    <article class="uk-comment">
      <header class="uk-comment-header">
        <h4 class="uk-comment-title uk-margin-remove">{{ review.author }}</h4>
        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
          <li><span>{{ review.date_added }}</span></li>
          <li>
            {% for i in 1..5 %}
              {% if review.rating < i %}
              <span uk-icon="icon: star"></span>
              {% else %}
              <span class="uk-text-warning" uk-icon="icon: star"></span>
              {% endif %}
            {% endfor %}
          </li>
        </ul>
      </header>
      <div class="uk-comment-body">
        <p>{{ review.text }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
{{ pagination }}
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}