{{ header }}

<div id="breadcrumb" class="uk-background-muted">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="product-search" class="uk-section">
  <div class="uk-container">

    {{ content_top }}

    {% if column_left or column_right %}<div class="uk-grid uk-grid-divider" uk-grid>{% endif %}

    
    {% if column_left %}
    <div class="uk-width-medium@m uk-visible@l">
      {{ column_left }}
    </div>
    {% endif %}

    {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}
      
      <!-- main start -->
      <div id="main">

        <header>

          <h1>{{ heading_title }}</h1>

          <div class="uk-grid uk-grid-small" uk-grid>

            <div class="uk-width-expand@s">
              <input 
                class="uk-input" 
                type="text" 
                name="search" 
                value="{{ search }}" 
                placeholder="{{ text_keyword }}" 
                onkeydown="searchType()"
              />
            </div>

            <div class="uk-width-expand@s">
              <select name="category_id" class="uk-select" onchange="enablleDisableOptions()">
                <option value="0">{{ text_category }}</option>
                {% for category_1 in categories %}
                  <optgroup label="{{ category_1.name }}">
                    {% if category_1.category_id == category_id %}
                      <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
                    {% else %}
                      <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
                    {% endif %}
                    {% for category_2 in category_1.children %}
                      {% if category_2.category_id == category_id %}
                      <option value="{{ category_2.category_id }}" selected="selected">{{ category_2.name }}</option>
                      {% else %}
                      <option value="{{ category_2.category_id }}">{{ category_2.name }}</option>
                      {% endif %}
                     {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </div>

            <div class="uk-width-auto@m">
              <button
                type="button"
                class="uk-button uk-button-primary" 
                onclick="submitSearch()"
              >
                {{ button_search }}
              </button>
            </div>

            <div class="uk-width-1-1">
              <label class="uk-margin-right">
                <input 
                  class="uk-checkbox" 
                  type="checkbox" 
                  name="sub_category" 
                  value="1" 
                  {% if sub_category %}
                    checked="checked"
                  {% else %}
                    disabled
                  {% endif %} 
                />
                {{ text_sub_category }}
              </label>
              <label>
                <input 
                  class="uk-checkbox" 
                  type="checkbox" 
                  name="description" 
                  value="1" 
                  id="description" 
                  {% if description %}checked="checked"{% endif %} 
                />
                {{ entry_description }}
              </label>
            </div>

          </div>

        </header>
        
        <h3>{{ text_search }}</h3>

        <hr />
        <div class="category-actions">
          <div class="uk-grid uk-grid-small uk-child-width-auto@s" uk-grid>

            <div>
              <label class="uk-form-label">{{ text_sort }}</label>
              <select class="uk-select uk-form-small uk-form-width-small uk-margin-left" onchange="location = this.value;">
                {% for sorts in sorts %}
                {% if sorts.value == '%s-%s'|format(sort, order) %}
                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                {% else %}
                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div>
              <label class="uk-form-label">{{ text_limit }}</label>
              <select class="uk-select uk-form-small uk-form-width-small uk-margin-left" onchange="location = this.value;">
                {% for limits in limits %}
                {% if limits.value == limit %}
                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                {% else %}
                <option value="{{ limits.href }}">{{ limits.text }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

          </div>
        </div>
        <hr />

        <!-- Products -->
        {% if products %}
          <div class="uk-grid uk-grid-small uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-match" uk-grid>
          {% for product in products %}
          <div>

            <!-- card start -->
            <div class="uk-card uk-card-small uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-between">

              <div class="uk-card-media-top uk-text-center">
                <a href="{{ product.href }}">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                </a>
              </div>

              <div class="uk-margin-small">
                <h3 class="uk-card-title uk-link-heading uk-margin-small">
                  <a href="{{ product.href }}">{{ product.name }}</a>
                </h3>

                {% if product.rating %}
                <div class="rating uk-margin-small">
                  {% for i in 1..5 %}
                    {% if product.rating < i %}
                      <span uk-icon="icon: star"></span>
                    {% else %}
                      <span class="uk-text-warning" uk-icon="icon: star"></span>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}

                <p class="uk-margin-small uk-text-small">{{ product.description }}</p>
              </div>

              <div class="uk-flex uk-flex-between uk-flex-bottom">
                <div class="price">
                  {% if product.price %}
                  {% if product.tax %}
                  <div class="price-tax uk-text-muted uk-text-small">{{ text_tax }} {{ product.tax }}</div>
                  {% endif %}
                  {% if not product.special %}
                  <span class="uk-text-bold">{{ product.price }}</span>
                  {% else %}
                  <div class="price-old uk-text-small"><del>{{ product.price }}</del></div>
                  <div class="price-new uk-text-bold uk-margin-remove">{{ product.special }}</div>
                  {% endif %}
                  {% endif %}
                </div>
                <div>
                  <button
                    type="button"
                    class="uk-icon-button"
                    uk-icon="heart"
                    title="{{ button_wishlist }}" uk-tooltip
                    onclick="wishlistAdd({{ product.product_id }})">
                  </button>
                  <button
                    type="button"
                    class="uk-icon-button"
                    uk-icon="copy"
                    title="{{ button_compare }}" uk-tooltip
                    onclick="compareAdd({{ product.product_id }})">
                  </button>
                  <button
                    type="button"
                    class="uk-icon-button"
                    uk-icon="cart"
                    title="{{ button_cart }}" uk-tooltip
                    onclick="addToCart({{ product.product_id }}, {{ product.minimum }})">
                  </button>
                </div>
              </div>

            </div><!-- card end -->

          </div>
          {% endfor %}
          </div>

          {% if pagination %}
            <hr />
            <div class="uk-flex uk-flex-middle uk-flex-between">
              <div>
                {{ pagination }}
              </div>
              <div class="uk-text-muted uk-text-small">
                {{ results }}
              </div>
            </div>
          {% endif %}

        {% else %}
          <p>{{ text_empty }}</p>
        {% endif %}<!-- end products -->

      </div><!-- main end -->

    {% if column_left or column_right %}</div>{% endif %}

    {% if column_right %}
    <div class="uk-width-medium@m uk-visible@l">
      {{ column_right }}
    </div>
    {% endif %}

    <!-- grid end -->
    {% if column_left or column_right %}</div>{% endif %}

    {{ content_bottom }}
    
  </div>
</div>

<script>
function searchType() {
  if (event.keyCode == 13) submitSearch();
}

function enablleDisableOptions() {
  let sub_category = document.querySelector("input[name=sub_category]");
  if (event.target.value > 0) {
    sub_category.removeAttribute("disabled");
  } else {
    sub_category.setAttribute("disabled", "disabled");
  }
}

function submitSearch() {
  event.preventDefault();
  let search = document.querySelector("input[name=search]").value;
  let category_id = document.querySelector("select[name=category_id]").value;
  let sub_category = document.querySelector("input[name=sub_category]");
  let filter_description = document.querySelector("input[name=description]");

  let url = `index.php?route=product/search`;
  url += `&search=${search}`;
  if (category_id > 0) url += `&category_id=${category_id}`;
  if (sub_category.checked === true) url += `&sub_category=true`;
  if (filter_description.checked === true) url += `&description=true`;

  window.location.href = url;
}

</script>

{{ footer }}