{{ header }}

<div id="breadcrumb" class="uk-background-muted">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="error-not-found" class="uk-section" uk-height-viewport="expand: true">
<div class="uk-container">

  <div id="main">
    <h1>{{ heading_title }}</h1>
    <p>{{ text_error }}</p>
  </div>

</div>
</div>

{{ footer }}