{{ header }}{{ column_left }}
<div id="content">

  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cleanup_db_url }}" class="btn btn-primary" data-toggle="tooltip" title="{{ text_cleanup_db }}">
          <i class="fa fa-refresh"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tbody>
          {% for key, value in kreativan %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!--  FORM -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Form</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="page-form" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label">
              Custom Page Options
            </label>
            <div class="col-sm-10">
              <select name="custom_page_option" class="form-control">
                <option value="option_1" {% if custom_page_option == 'option_1' %}selected="selected"{% endif %}>
                  Option 1
                </option>
                <option value="option_2" {% if custom_page_option == 'option_2' %}selected="selected"{% endif %}>
                  Option 2
                </option>
              </select>
            </div>
          </div>

          <!-- submit -->
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <button type="submit" form="page-form" class="btn btn-primary">
                <i class="fa fa-save"></i> Save Form
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>
