{{ header }}

<div id="breadcrumb">
  <div class="uk-container">
    <ul class="uk-breadcrumb uk-margin-remove">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if success %}
  <div class="uk-alert uk-alert-success uk-margin-remove">
    <div class="uk-container">
      <span uk-icon="icon: check"></span>
      {{ success }}
    </div>
  </div>
{% endif %}

{% if error %}
  <div class="uk-alert uk-alert-danger uk-margin-remove">
    <div class="uk-container">
      <span uk-icon="icon: warning"></span>
      {{ error }}
    </div>
  </div>
{% endif %}

<div class="uk-section">
<div class="uk-container">
  
  {{ content_top }}

  {% if column_left or column_right %}<div class="uk-grid" uk-grid>{% endif %}

  {% if column_left %}
  <div class="uk-width-medium@m">
    {{ column_left }}
  </div>
  {% endif %}

  {% if column_left or column_right %}<div class="uk-width-expand@m">{% endif %}

    <div id="main">
        <h2>{{ heading_title }}</h2>

        {% if not cards %}
          <div class="uk-alert uk-alert-warning">
            {{ text_no_cards }}
          </div>
        {% else %}
          <table class="uk-table uk-table-divider">
            {% for card in cards %}
              <tr>
                <td>{{ card.text }}</td>
                <td class="text-right">
                  <a class="uk-button uk-button-danger remove_card" href="{{ card.delete }}">{{ text_delete }}</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        <div class="buttons uk-margin-top">
          <a class="uk-button uk-button-default" href="{{ back }}">{{ text_back }}</a>
        </div>
    </div>

  {% if column_left or column_right %}</div>{% endif %}

  {% if column_right %}
  <div class="uk-width-medium@m">
    {{ column_right }}
  </div>
  {% endif %}

  <!-- grid end -->
  {% if column_left or column_right %}</div>{% endif %}

  {{ content_bottom }}

</div> 
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.remove_card').click(function(e) {
        return confirm('{{ text_warning_card }}');
    });
});
</script>
{{ footer }}